* {
  box-sizing: border-box;
  max-width: 100%;
}
html {
  font-size: 62.5%;
  font-family: 'Titillium Web', sans-serif;
  background-color: #FFE53B;
  background-image: linear-gradient(147deg, #FFE53B 0%, #FF2525 74%);
}
.frontPageCatchAll {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.frontPageNav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
input, label {
  margin: 1rem;
  font-size: 1.5rem;
}
input {
  box-shadow: 1rem 1rem 1rem 0rem black;
  padding: 1rem;
  border-radius: 1rem;
}
a, link {
  margin: 1rem;
  font-size: 1.5rem;
  text-decoration: none;
  color: black;
  box-shadow: 1rem 1rem 1rem 0rem black;
  padding: 1rem;
  border-radius: 1rem;
}
h1 {
  margin-top: 3rem;
  font-size: 3rem;
}
h2 {
  font-size: 1.9rem;
}
button {
  border-radius: 1rem;
  box-shadow: 1rem 1rem 1rem 0rem black;
  padding: 1rem;
  border: .5rem ridge black;
  color: black;
  background-color: white;
  font-size: 1.5rem;
}